/* The side navigation menu */
.ibloov-sidenav {
  height: 100%; /* 100% Full-height */
  /* width: 0; 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 99; /* Stay on top */
  top: 0; /* Stay at the top */
  right: 0;
  background-color: #1d1d1e8f; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  /* display: flex; */
}

/* Position and style the close button (top right corner) */
.ibloov-sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.close-ibloov-side {
  width: 0;
}
.open-ibloov-side.event-pay-side {
  width: 40%;
  transition: 0.5s;
  background: #053b83 0% 0% no-repeat padding-box;
}

.open-ibloov-side.friend-profile-side {
  width: 70%;
  transition: 0.5s;
  box-shadow: -5px 0px 15px #0000004e;
  max-width: 800px;
}

.open-ibloov-side.wishlist-side-container {
  background-color: white;
  padding: 20px;
  transition: 0.6s;
  box-shadow: -5px 0px 15px #0000004e;
  width: 100%;
}

.ibloove-side-close-btn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  color: #ffff;
}

.friend-profile-side .ibloove-side-close-btn {
  color: #222222;
}

.wishlist-side-container .ibloove-side-close-btn {
  color: #222222;
  left: 0px;
  margin-left: 0px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .ibloov-sidenav.event-pay-side {
    padding-top: 15px;
  }
}

@media screen and (max-width: 450px) {
  .open-ibloov-side {
    width: 100%;
    display: flex;
  }

  .open-ibloov-side.friend-profile-side {
    width: 100%;
    transition: 0.5s;
    box-shadow: -5px 0px 15px #0000004e;
    display: grid;
  }
}

@media screen and (min-width: 768px) {
  .open-ibloov-side.wishlist-side-container {
    width: 60%;
  }
}

@media screen and (min-width: 992px) {
  .open-ibloov-side.wishlist-side-container {
    width: 60%;
  }
  .open-ibloov-side.wishlist-side-container {
    width: 50%;
  }
}

@media screen and (max-width: 992px) {
  .open-ibloov-side .event-pay-side {
    width: 60%;
  }
  .open-ibloov-side.friend-profile-side {
    width: 100%;
    transition: 0.5s;
    box-shadow: -5px 0px 15px #0000004e;
  }
}

@media screen and (min-width: 1224px) {
  .open-ibloov-side.friend-profile-side {
    width: 50%;
  }
  .friend-profile-info-container {
    min-width: 52vw;
  }
  .open-ibloov-side.wishlist-side-container {
    width: 37%;
  }
}
