.item-search-container {
  position: relative;
}

.items-search-icon {
  position: absolute;
  top: 40%;
  left: 5%;
  font-size: 10px;
  color: #2a5799;
}

.items-search-input {
  padding-left: 30px;
  border-radius: 20px;
  height: 30px;
  background-color: #ebebeb;
  border: none;
}

.items-search-input::placeholder {
  font-size: 10px;
}


.items-container {
    margin-top: 20px;
}