.myfriends {
  width: 90%;
  margin: 0px auto;
}

.myfriends .row {
  margin-left: 0px;
  margin-right: 0px;
}
.myfriends-first-row {
  /* justify-content: space-between; */
  margin-top: 1rem;
}

.myfriends-title {
  align-self: center;
}

.myfriends-title h2 {
  font-size: 23px;
  color: #222222;
  opacity: 0.5;
  font-weight: bolder;
}

.myfriends .myibloov-nav-link,
.myibloov-nav-active {
  padding-bottom: 8px;
}

.myfriends-search {
  width: 100%;
}

.friendlist-search-input {
  background-color: #f5f5f5;
  border: none;
  border-radius: 10px;
  height: 40px;
}

.friendlist-search-input:focus {
  background-color: #f5f5f5;
}

.friendlist-search-input::placeholder {
  color: #7f7f7f;
  opacity: 0.8;
  font-size: 17px;
}

.myfriends-search {
  position: relative;
}

.myfriends-search span {
  position: absolute;
  right: 10%;
  top: 20%;
}

.friend-search-icon {
  color: #7f7f7f;
  opacity: 0.8;
}

.mybloov-create-group-btn {
  background-color: #2a5799;
  /* width: 40%; */
  border-radius: 50px;
  color: #ffffff;
  opacity: 1;
  padding: 0.5rem 1rem;
  /* width: 120px; */
  height: 40px;
  /* margin-left: auto; */
  font-size: 12px;
  margin-top: 5px;
  min-width: 150px;
  height: 40px;
}

.add-friend-btn {
  background-color: #2a5799;
  display: block;
  /* width: 40%; */
  border-radius: 50px;
  color: #ffffff;
  opacity: 1;
  padding: 0.5rem 1rem;
  /* width: 120px; */
  height: 40px;
  margin-left: auto;
  font-size: 12px;
  margin-top: 5px;
  min-width: 150px;
  height: 40px;
}

.add-friend-btn:hover {
  color: white;
}

.modal-content {
  width: fit-content;
  margin: auto;
  padding: 5px 3rem;
}

@media only screen and (min-width: 768px) {
  .myfriends-search {
    width: 400px;
  }
  .myfriends-title {
    margin-right: 5rem;
  }
}

@media only screen and (min-width: 992px) {
  .myfriends-title h2 {
    font-size: 30px;
  }
  .myfriends-first-row {
    margin-top: 1rem;
  }

  .add-friend-btn {
    margin-right: 20px;
  }
}
