.item-card {
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 10px 2px rgba(179, 175, 179, 0.54);
  -moz-box-shadow: 0px 0px 10px 2px rgba(179, 175, 179, 0.54);
  box-shadow: 0px 0px 10px 2px rgba(179, 175, 179, 0.54);
  overflow: hidden;
  padding: 5px;
  width: 120px;
  margin-right: 10px;
  margin-bottom: 10px;
  display: flex;
  height: 80px;
}

.item-details {
  color: #2a5799;
  font-weight: bolder;
  /* white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; */
  max-width: 40px;
  padding: 5px;
}

.item-details h5 {
  font-size: 10px;
  margin-bottom: 0.5rem;
}

.item-details p {
  font-size: 8px;
}

.item-card-image {
  width: 50px;
  height: 70px;
}
