.single-event-loading {
  text-align: center;
  margin-top: 2rem;
}
.single-event-name-container {
  border-bottom: 1px solid #ccc;
  padding-bottom: 1rem;
}

.single-event-name {
  color: #222222;
  font-weight: bolder;
}

.single-event-name + span {
  color: #6e6f6f;
}
.single-event-price {
  color: #ffa79d;
  font-size: 20px;
  font-weight: bolder;
  margin: 1rem 0px;
}

.single-event-header-title {
  color: #2a5799;
  font-weight: bolder;
}

.single-event-header-title span {
  color: #7f7f7f;
}

.single-event-description {
  color: #7f7f7f;
}

.single-event-date-container p {
  font-size: 0.8rem;
}

.event-start-date {
  margin-left: 1rem;
  font-weight: bolder;
}

.event-end-date {
  margin-left: 1.4rem;
  font-weight: bolder;
}

.export-to-calendar-btn {
  width: 180px;
  border: 1px solid #213368;
}

.single-comment-hashtag-container {
  display: flex;
  flex-wrap: wrap;
}

.share-icon-container {
  margin-right: 0px;
  margin-left: 0px;
}

.share-icon-container div {
  width: 50px;
  margin-right: 1rem;
  text-align: center;
  border-radius: 25px;
  height: 50px;
  padding: 14px 0;
}

.share-icon {
  color: white;
  text-align: center;
}

.share-icon-facebook {
  background-color: #2a5799;
}

.share-icon-twitter {
  background-color: #74acff;
}

.share-icon-instagram {
}

.share-icon-linkedin {
  background-color: #0083b4;
}

@media only screen and (min-width: 768px) {
  .single-event-body {
    padding: 1rem;
  }
  .single-event-second-col-container {
    max-width: 300px;
  }
}

@media only screen and (min-width: 1024px) {
  .single-event-body {
    padding: 2rem;
  }
}

@media only screen and (min-width: 1424px) {
  .single-event-body {
    padding: 3rem;
  }
  .single-event-first-col {
    padding: 0px 7rem;
  }
}
