.dashboard {
  margin: 0px;
}
.dashboard-first-row {
  margin: 0px;
}
.dashboard-first-row {
  /* background-image: linear-gradient(to right, #000000ef, #00000000),
    url("../../assets/images/Image14.png"); */
  background-repeat: no-repeat;
  color: #fff;
  background-size: 900px 65vh;
  background-position: top;
  background-position-x: right;
  background: transparent linear-gradient(180deg, #000000ef 0%, #6c6c6c 100%) 0%
    0% no-repeat padding-box;
  /* opacity: 0.8; */
  font-weight: bolder;
  height: 60vh;
  padding-bottom: 3rem;
  padding-top: 40%;
}
.dashboard-image-container {
  /* width: 100%; */
}

.dashboard-user-info {
  text-align: center;
}
.dashboard-profile {
  margin: 0px auto;
}

.dashboard-profile-image {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  display: block;
  margin: 0px auto;
}

.dashboard-user-info div p {
  /* margin-bottom: 0px; */
}
.dashboard-profile-name p {
  font-size: 0.6rem;
  margin-bottom: 0px;
}

.dashboard-welcome-container {
  margin: 0px auto;
  padding: 1rem;
}

.dashboard-stat-container {
  flex-wrap: nowrap;
  justify-content: center;
  margin-left: 0px;
  text-align: center;
}

.dashboard-stat-container p {
  margin-bottom: 0.5rem;
  color: #222222;
}

.stat-label {
  color: #707070;
  font-size: 0.5rem;
}
.dashboard-stat-container span {
  color: #707070;
  font-size: 0.5rem;
}

.dashboard-bloov-btn {
  background-color: #213368;
  width: 100%;
  border-radius: 25px;
  font-size: 0.8em;
  color: white;
}

.suggest-event-card {
  /* justify-content: center; */
  width: 85%;
  margin: 1rem auto;
}
.suggest-event-card .card-container {
  margin: 10px;
}

.second-row-tab h5 {
  color: #313131;
  font-family: Avenir;
  font-size: 13px;
}

.suggest-event-active {
  /* border-top: 1px solid red; */
  width: 100px;
}

.suggest-event-active hr:first-child {
  width: 54px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 15px;
  border: 3px solid #b4c427;
}
.suggest-event-active hr {
  width: 9px;
  margin-top: 0px;
  margin-bottom: 0px;
  border: 3px solid #b4c427;
  border-radius: 5px;
}

.suggest-event-card .card-container {
  width: 200px;
}

.suggest-event-card .card-container .card-image {
  width: 200px;
  height: 150px;
}

.suggest-event-card .card-container .card-month {
  font-size: 11px;
}

.suggest-event-card .card-container .card-day {
  font-size: 14px;
}

.suggest-event-card .card-container .stat-image {
  width: 25px;
  height: 25px;
}

.suggest-event-card .card-container .event-body {
  padding: 0.5rem;
}
.suggest-event-card .card-container .event-name {
  font-size: 11px;
}

@media only screen and (min-width: 768px) {
  .dashboard-user-info {
    text-align: left;
    margin-left: 1rem;
  }

  .dashboard-profile-name {
    padding-top: 1rem;
  }

  .suggest-event-card {
    width: 100%;
  }
}

@media only screen and (min-width: 992px) {
  .dashboard-first-row {
    /* background-image: linear-gradient(to right, #000000ef, #00000000),
      url("../../assets/images/Image14.png"); */
    background-repeat: no-repeat;
    color: #fff;
    background-size: 900px 65vh;
    background-position: top;
    background-position-x: right;
    /* background-color: #463d3d; */
    /* background-color: linear-gradient(to right, #000000ef, #00000000); */
    background: transparent
      linear-gradient(180deg, #000000ef 0%, #00000000 100%) 0% 0% no-repeat
      padding-box;
    /* opacity: 0.8; */
    font-weight: bolder;
    height: 60vh;
    padding-bottom: 3rem;
    padding-top: 5px;
  }

  .dashboard-image {
    position: absolute;
    height: 65vh;
    right: 20px;
    width: 900px;
    opacity: 0.5;
    z-index: -1;
    /* background: rgba(76, 175, 80, 0.3); */
  }

  .dashboard-profile {
    margin: 0px;
    align-self: flex-end;
  }
  .dashboard-profile .row {
    margin-left: 0px;
  }
  .dashboard-profile-name h2 {
    font-size: 3.5rem;
  }

  .dashboard-profile-name span {
    font-size: 7rem;
    line-height: 106px;
  }
  .dashboard-welcome-container {
    margin-left: 0rem;
    max-width: 306px;
    align-self: flex-end;
  }
}

@media only screen and (min-width: 1132px) and (max-width: 1479px) {
  .suggest-event-card {
    width: 100%;
  }
}

@media only screen and (max-width: 991px) {
  .dashboard-welcome-container {
    display: none;
  }
}
