.card-container {
  margin-bottom: 10px;
  margin-top: 10px;
  /* border: 1px solid #ccc; */
  max-width: 360px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 10px 2px rgba(179, 175, 179, 0.54);
  -moz-box-shadow: 0px 0px 10px 2px rgba(179, 175, 179, 0.54);
  box-shadow: 0px 0px 10px 2px rgba(179, 175, 179, 0.54);
  overflow: hidden;
}

.card-container .event-more-details {
  text-decoration: none;
  color: initial;
}

.image-container {
  position: relative;
  border-radius: 10px;
}

.image-container p {
  position: absolute;
  top: 82%;
  background-color: #05458aa6;
  color: #fff;
  font-size: 10px;
  padding: 0.1rem 0.6rem;
}

.card-image {
  height: 182px;
  width: 360px;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.event-icon-container {
  display: none;
  position: absolute;
  top: 10%;
  right: 3%;
}

.card-icon-container {
  border: 1px solid #fff;
  border-radius: 15px;
  width: 30px;
  height: 30px;
  padding: 0.1rem 0.4rem;
  margin: 0 0.2em;
  background-color: #fff;
}

.card-icon {
  font-size: 0.8rem;
}

.heart {
  color: #ccc;
}

.event-body {
  padding: 1rem;
}
.event-info {
  display: flex;
  /* justify-content: space-around; */
  font-size: 0.8em;
}

.event-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 150px;
  font-size: 17px;
}

.event-card-location {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 150px;
}

.event-info p {
  padding: 0px;
  margin: 0px;
}

.card-month {
  color: #2a5799;
  font-weight: bolder;
  font-size: 17px;
}
.card-day {
  font-size: 20px;
}

.event-info small {
  color: #6f6868d1;
}

.event-stat {
  display: flex;
  justify-content: space-between;
  font-size: 0.8em;
}

.event-stat p {
  margin: 0px;
  padding: 0px;
  font-size: 10px;
}

.attending-event-container {
  display: flex;
}

.attending-event {
  position: relative;
  min-width: 40px;
}

.number-attending {
  align-self: center;
}

.stat-image:first-child {
  position: absolute;
  left: 10px;
}

.stat-image:nth-child(2) {
  position: absolute;
  left: 20px;
}

.stat-image {
  height: 40px;
  width: 40px;
  border-radius: 30px;
  border: 2px solid #fff;
}

.event-button {
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 0.8em;
}

/* 

setting for hover 


*/

.card-container:hover {
  background-color: #05458a;
  color: white;
}

.card-container:hover .event-body {
  background-color: #05458a;
  color: white;
}

.card-container:hover .event-button {
  background-color: #944b4b;
  color: white;
  border: 1px solid red;
}

.card-container:hover .event-icon-container {
  display: flex;
}

.card-container:hover .event-info small {
  color: #879eb4;
}

.card-container:hover .card-month {
  color: #879eb4;
}

@media only screen and (min-width: 600px) {
  .card-container {
    max-width: 250px;
  }

  .card-image {
    width: 250px;
  }
}
