.show-modal {
  display: block;
  transform: translateY(0vh);
  opacity: 1;
}

.close-modal {
  display: none;
  transform: translateY(-100vh);
  opacity: 0;
}

.modal-wrapper {
  background: white;
  border: 1px solid #d0cccc;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
  margin: 100px auto 0;
  transition: all 0.8s;
  width: 60%;
}

.modal-header {
  background: #263238;
  line-height: 40px;
  padding: 5px 20px;
  text-align: right;
}

.modal-header h4 {
  color: white;
  float: left;
  margin: 0;
  padding: 0;
}

.modal-body {
  padding: 10px 15px;
  text-align: left;
}

.modal-footer {
  background: #263238;
}

.close-modal-btn {
  color: white;
  cursor: pointer;
  float: right;
  font-size: 30px;
  margin: 0;
}

.modal-footer .btn-cancel,
.btn-continue {
  background: #2a5799;
  border: none;
  color: white;
  cursor: pointer;
  font-weight: bold;
  outline: none;
  padding: 6px;
  border-radius: 50px;
  width: 120px;
  /* font-size: 0.7em; */
}

.btn-cancel {
  background-color: #b71c1c;
  float: left;
}

.back-drop {
  background-color: rgba(48, 49, 48, 0.42);
  height: 100%;
  position: fixed;
  transition: all 1.3s;
  width: 90%;
}

.wishlist-error-container .modal-header {
  background-color: red;
}

.wishlist-error-container .modal-footer {
  background-color: white;
}
