.single-comment-container {
  flex-wrap: nowrap;
  margin-right: 0px;
  margin-left: 0px;
}

.user-comment-details {
  display: flex;
  justify-content: space-between;
}

.comment-name {
  color: #7f7f7f;
  font-size: 1rem;
  margin: 0px;
}

.comment-date {
  color: #7f7f7f;
  opacity: 50;
  font-size: 0.7rem;
}

.comment-body {
  /* height: 150px; */
  display: -webkit-box;
  max-width: 400px;
  height: 110px;
  margin: 0 auto;
  font-size: "";
  line-height: "";
  -webkit-line-clamp: "";
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* fontsi = 26px, lineheigh= 1.4, lines to shw= 3 */

/* h2 {
  display: block; /* Fallback for non-webkit */
/* display: -webkit-box;
  max-width: 400px;
  height: calc($font-size*$line-height*$lines-to-show); /* Fallback for non-webkit */
/* margin: 0 auto;
  font-size: $font-size;
  line-height: $line-height;
  -webkit-line-clamp: $lines-to-show;
  -webkit-box-orient: vertical;
  overflow: hidden; */
/*text-overflow: ellipsis;  */
