.empty-search {
  margin-top: 2rem;
  /* margin-bottom: 5rem; */
  /* padding: 2rem 1rem; */
  padding-top: 5rem;
  padding-bottom: 10rem;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: #f6f7f8;
}
