.select-container {
  position: relative;
}

.filter-select-label {
  position: absolute;
  right: 5%;
  bottom: -5%;
  color: #a7a3a3;
}

.filter-select {
  width: 100%;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #ccc;
  background-color: white;
  color: #827a7a;
  font-weight: 600;
}

.select-container select {
  -moz-appearance: none; /* Firefox */
  -webkit-appearance: none; /* Safari and Chrome */
  appearance: none;
}
