.hash-tag {
    font-size: 0.8rem;
    background: #7f7f7f 0% 0% no-repeat padding-box;
    border-radius: 5px;
    width: fit-content;
    padding: 5px 10px;
    color: white;
  }
  
  .hash-tag p {
    margin: 0px;
    font-size: 0.8rem;
  }
  