.App {
  margin: 0px 20px;
  max-width: 1440px;
}
.font-bold {
  font-weight: 800;
}

.bold-600 {
  font-weight: 600;
}

.perfect-center {
  align-self: center;
}

@media only screen and (min-width: 1441px) {
  .App {
    margin: 0px auto;
  }
}
